@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600");

/* Remove Default Margin and paddings for all HTML elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS variables to use any where in website (if you want to change theme one change here will apply to entire website) */
:root {
  --heading: #393a56;
  --text: #7e7f85;
  --theme: #fd5353;
  --bg: #f7f8f9;
  --footerBg: #415161;
}

body {
  font-family: "Poppins";
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

p {
  color: var(--text);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

/* ==== Header ==== */
header {
  background: var(--bg);
  width: 100vw;
  height: 90vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
}

.navlinks {
  display: flex;
  align-items: center;
}

.navlinks li {
  margin: 0 20px;
}

.navlinks img {
  width: 50px;
}

.navlinks li a {
  color: var(--heading);
}

/* Header Content */
.header-content {
  display: flex;
  align-items: center;
}

.header-content img {
  max-width: 90%;
}

.header-info {
  flex: 60%;
}

.line {
  width: 150px;
  height: 4px;
  background-color: var(--theme);
  border-radius: 5px;
}

.header-info h1 {
  font-size: 50px;
}

.header-info h3,
.header-info p {
  margin: 15px 0;
}

.ctn {
  padding: 10px 16px;
  background: var(--theme);
  color: whitesmoke;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

/* Category Section */
#categories {
  display: flex;
  margin: 80px auto;
  justify-content: space-between;
}

.category-content:nth-child(1) {
  margin-bottom: 10px;
}

.category {
  text-align: center;
}

/* Feature Products */
#featured-products {
  margin: 80px auto;
}

.section-info {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  justify-content: space-between;
}

/* Offer */
#offer {
  margin: 80px auto;
  background: var(--bg);
}

#offer .container {
  display: flex;
  align-items: center;
}

#offer .container img {
  max-width: 600px;
}

.offer-content h1 {
  font-size: 50px;
}

/* Featured Companies */
#featured {
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}
